html {
    background-image: url(Assets/dark-grey-terrazzo.png);
}

body{
    font-family: 'Lemonada', cursive;
}
.hero {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    border-radius: 50%;
    border-style: solid;
    border-color: #6930c3;
    border-width: 5px;
}
.box{
    font-size: 24px;
    
}
.container{
    margin-top: 30px;
    
}
.welcome {
    margin: auto;
    padding: 30px;
    margin-top: 15%;
    width: 25%;
    height: 25%;
    text-align: center;
}
.control {
    padding-top: 10px;
}

.is-ancestor {
    background-color: #6930c3;
    margin-top: 5%;
    margin-bottom: 5%;
    border-style: outset;
    border-width: 5px;
}

.image {
    margin: 15px;
    border-style: outset;
    border-width: 5px;


.is-success {
    margin-left: 30%;
}

.button {
    font-family: 'Lemonada', cursive;
    font-size: 20px;
    margin-left: 30%;
}
.foodimg {
    height:500px;
}